html, body {
    margin: 0;
    height: auto;
    overflow-x: hidden;
}

@media screen and (min-width: 600px) {

    .navbar {
        display: flex;
        position: fixed;
        width: 100%;
        height: 45px;
        top: 0;
        margin: 3px;
        padding: 3px;
        border-radius: 10px;
        transition: 0.3s;
    }

    .navbar-contents {
        display: flex;
        margin:auto;
        width: 100%;
        padding: 0 20px 0 20px;
        max-width: 1240px;
    }

    .logo {
        padding: 7px;
        width: fit-content;
        border-radius: 5px;
        transition: 0.4s;
    }

    .logo a {
        color: white;
        text-decoration: none;
        font-family: "Zilla Slab", serif;
        font-size: 25px;
    }

    .logo:hover {
        text-decoration: underline;
        background: #4b4d8a;
    }

    .dropdown-container {
        display: none;
    }
    .tabs {
        display: block;
        margin-left: auto;
        padding: 7px;
        width: fit-content;
    }

    .tabs a {
        padding: 7px;
        color: white;
        text-decoration: none;
        font-family: "Zilla Slab", serif;
        font-size: 20px;
        border-radius: 5px;
        transition: 0.3s;
    }

    .tabs a:hover {
        text-decoration: underline;
        background: #4b4d8a;
    }

    /* soon to be ledgacy code*/
    .main {
        flex: 1;
        margin: 50px auto auto;
        width: 90%;
        max-width: 1050px;
        height: 100%;
        padding: 20px;

    }

    .main-contents {
        display: grid;
        padding: 50px;
        border-radius: 7px 7px 0 0;
        font-family: inter, serif;
        background-color: #f5f5f5;
        box-shadow: 0 0 2px 0;
    }
/*  */
    .proj-list p {
        margin-left: 25px;
    }

    .proj-container {
        margin-top: 25px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 0 1px 0;
    }

    .proj-container a {
        margin: 10px;
        padding: 7px;
        border-radius: 25px;
        box-shadow: 0 0 1px 0;
        text-decoration: none;
        transition: 0.2s;
    }

    .proj-container a:hover {
        background: #9cbdd9;
        cursor: pointer;
        text-decoration: underline;
    }

    .vis-li li {
        margin: 10px;
    }

    .footer {
        position: sticky;
        height: 200px;
        bottom: 0;
        box-shadow: 0 0 1px 0;
    }

    .footer-content {
        display: flex;
        margin:auto;
        width: 100%;
        padding: 0 20px 0 20px;
        max-width: 650px;
        font-family: inter, serif;
    }

    .footer-content a {
        padding: 7px;
        border-radius: 25px;
        text-decoration: none;
        transition: 0.3s;
    }

    .footer-content a:hover {
        background: #9cbdd9;
        cursor: pointer;
        text-decoration: underline;
    }


    /* Redesign elements */
    .main-wrapper {
        flex: 1;
        margin:auto;
        max-width: 1050px;
        padding: 7px;
        height: 100%;
    }

    .main-contents {
        display: grid;
        width: 100%;
        border-radius: 7px 7px 0 0;
        background-color: #f5f5f5;
        box-shadow: 0 0 2px 0;
    }

    .welcome-wrapper {
        position: relative;
        margin: 0;
        height: 100vh;
        width: 100%;
        box-shadow: 0 0 1px 0;
        background: rgb(71,5,47);
        background: linear-gradient(180deg, rgb(60, 13, 77) 50%, rgb(38, 60, 126) 100%);
    }

    .divider {
        position: relative;
        background: #262e34;
        box-shadow: 0 0 2px 0 white;
        max-width: 100%;
        height: 5rem;
    }

    .divider p {
        position: absolute;
        margin: auto;
        transform: translate(-50%, 50%);
        top: 25%;
        left: 50%;
        color: #c9c9c9;
        font-family: inter, serif;
        font-size: 17px;
        white-space: nowrap;
    }

    .css-bubble{
        position: absolute;
        width: 150px;
        height: 150px;
        background: #046ab8;

        border-radius: 150px;
    }

    .type-struct {
        position: absolute;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .type-struct h1 {
        position: relative;
        color: #818193;
        font-family: Inter, serif;
        white-space: nowrap;
        letter-spacing: .17em;
        margin: 0 auto;
        overflow: hidden;
        border-right: .17em solid pink;
        animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
    }

    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }

    @keyframes blinking-cursor {
        from,
        to {
            border-color: transparent
        }
        50% {
            border-color: pink;
        }
    }

    .motd {
        color: #bdbdbd;
        font-family: Inter,serif;
        border-radius: 5px;
        margin: 1em 0;
        padding: 10px;
        background: #28283a;
    }

    .motd p {
        margin: 9px;
    }

    .blog-widget {
        position: relative;
        margin: auto;
    }

    .blog-contents {
        display: flex;
        margin: 50px auto 50px auto;
        width: 100%;
        max-width: 1050px;
    }

    .blog-featured {
        display: flex;
        margin: 0 5px 0 0;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px;
        width: 70%;
        height: 180px;
        box-shadow: 0 0 2px 0 rgba(49, 49, 49, 0.81);
    }

    .blog-text {
        font-family: inter, serif;
        width: 75%;
    }

    .blog-regular {
        display: flex;
        margin: 0 0 0 5px;
        border-radius: 5px;
        padding: 15px;
        width: 30%;
        height: 180px;
        box-shadow: 0 0 2px 0;
    }

    h3 {
        font-family: Arial, serif;
    }

    .rory-widget{
        display: block;
        margin: auto;

    }
    .rory {
        margin:auto;
        right: 5px;
    }
    #rory {
        padding: 15px;
        width: 80%;
        background: #153546;
    }

    .ctrl {
        margin: 11.5rem 0;
    }

    .rory-controls {
        display: block;
        width: 180px;
        height: 150px;
        float: left;
    }

    .rory-controls button {
        width: 170px;
        height: 50px;
        background: #153546;
        color: #c2c2c2;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
    }
    .rory-controls button:hover {
        background: #4b616e;
        cursor: pointer;
    }
    .rory-controls p {
        font-size: 17px;
        font-family: Arial, serif;
        float:left;
    }

    .rory-controls input {
        margin: 7px 0 0 0;
        font-size: 15px;
        width: 90%;
        height: 25px;
    }

    .rory-credits {
        margin: 0;
        font-family: Arial, serif;
        float:left;
        height: 9rem;
        background: #153546;
        padding: 15px;
        color: white;
    }

    .rory-credits a{
        color: #9cbdd9;
        padding: 5px;
    }
}


@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        background: rgba(76, 6, 86, 0.99);
    }

    .navbar-contents {
        display: flex;
        margin:auto;
        width: 100%;
        padding: 0 5px 0 0;
    }

    .logo {
        padding: 7px;
        margin-left: 5px;
        width: fit-content;
        border-radius: 5px;
    }

    .logo a {
        color: white;
        text-decoration: none;
        font-family: "Zilla Slab", serif;
        font-size: 30px;
    }

    .logo:hover {
        text-decoration: underline;
        background: #4b4d8a;
    }

    .dropdown-container {
        display: block;
        height: 50px;
        width: 50px;
        background: none;
        border: none;
        margin: auto 0 auto auto;
        transition: 0.4s
    }

    .dropdown-container:hover {
        background: #4b4d8a;
    }

    .tabs {
        position: absolute;
        margin-top: 50px;
        display: none;
        width: 100%;
        background: #431454;
    }


    .tabs a {
        width: 100%;
        float: left;
        text-align: center;
        padding: 15px 0 15px 0px;
        color: white;
        text-decoration: none;
        font-family: "Zilla Slab", serif;
        font-size: 20px;
        border-radius: 5px;
    }

    .tabs a:hover {
        text-decoration: underline;
        background: #8082d7;
    }

    .welcome-wrapper {
        position: relative;
        margin: 0;
        height: 100vh;
        width: 100%;
        box-shadow: 0 0 1px 0;
        background: rgb(71,5,47);
        background: linear-gradient(180deg, rgb(60, 13, 77) 50%, rgb(38, 60, 126) 100%);
    }

    .type-struct {
        position: absolute;
        width: fit-content;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .type-struct h1 {
        position: relative;
        color: #818193;
        font-size: 4rem;
        font-family: Inter, serif;
        letter-spacing: .17em;
        margin: 0 auto;
        overflow: hidden;
        /*
        animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
         */
    }

    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }

    @keyframes blinking-cursor {
        from,
        to {
            border-color: transparent
        }
        50% {
            border-color: pink;
        }
    }

    .divider {
        position: relative;
        background: #262e34;
        box-shadow: 0 0 2px 0 white;
        max-width: 100%;
        height: 5rem;
    }

    .divider p {
        position: absolute;
        margin: auto;
        transform: translate(-50%, 50%);
        top: 25%;
        left: 50%;
        color: #c9c9c9;
        font-family: inter, serif;
        font-size: 1.3rem;
        white-space: nowrap;
    }


    .main-wrapper {
        flex: 1;
        margin-top: 25px;
        height: 100%;

    }

    .main-contents-redesign {
        display: grid;
        padding: 50px 15px 0 15px;
        border-radius: 7px 7px 0 0;
        font-family: inter, serif;
        background-color: #ffffff;
        box-shadow: 0 0 2px 0;
    }    .main-contents {
        display: grid;
        padding: 50px 15px 0 15px;
        border-radius: 7px 7px 0 0;
        font-family: inter, serif;
        background-color: #ffffff;
        box-shadow: 0 0 2px 0;
    }


    .motd {
        color: #bdbdbd;
        font-family: Inter,serif;
        border-radius: 5px;
        margin: 0.1em 0;
        line-height: 1.7rem;
        padding: 10px;
        background: #28283a;
    }

    .motd p {
        margin: 9px;
        font-size: 1.3rem;
    }

    .blog-widget {
        position: relative;
        margin: auto;
    }

    .blog-contents {
        width: 100%;
    }

    .blog-featured {
        display: flex;
        margin: 0 5px 5px 0;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        height: 180px;
        box-shadow: 0 0 2px 0 rgba(49, 49, 49, 0.81);
    }

    .blog-text {
        font-family: inter, serif;
        width: 75%;
    }

    .blog-regular {
        display: flex;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        margin: 10px 0 0 0;
        height: 180px;
        box-shadow: 0 0 2px 0;
    }

    h3 {
        font-family: Arial, serif;
    }

    .rory-widget{
        display: block;
        margin: auto;

    }
    .rory {
        margin:auto;

    }
    #rory {
        padding: 15px;
        width: 95%;
        background: #153546;
    }

    .ctrl {
        margin: 11.5rem 0;
    }

    .rory-controls {
        display: block;
        width: 95%;
        height: 150px;
        float: left;
    }

    .rory-controls button {
        width: 170px;
        height: 50px;
        background: #153546;
        color: #c2c2c2;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
    }
    .rory-controls button:hover {
        background: #4b616e;
        cursor: pointer;
    }
    .rory-controls p {
        font-size: 17px;
        font-family: Arial, serif;
        float:left;
    }

    .rory-controls input {
        margin: 7px 0 0 0;
        font-size: 15px;
        width: 90%;
        height: 25px;
    }

    .rory-credits {
        margin: 0;
        width: 100%;
        font-family: Arial, serif;
        float:left;
        text-align: center;
        font-size: 1.2rem;
        height: 9rem;
        background: #153546;
        padding: 15px;
        color: white;
    }

    .rory-credits a{
        color: #9cbdd9;
        padding: 5px;
    }
}

    .proj-list p {
        margin-left: 25px;
    }

    .proj-container {
        margin-top: 25px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 0 1px 0;
    }

    .proj-container a {
        margin: 10px;
        padding: 7px;
        border-radius: 25px;
        box-shadow: 0 0 1px 0;
        text-decoration: none;
        transition: 0.3s;
    }

    .proj-container a:hover {
        background: #9cbdd9;
        cursor: pointer;
        text-decoration: underline;
    }

    .vis-li li {
        margin: 10px;
    }

    .footer {
        display: flex;
        position: sticky;
        height: auto;
        bottom: 0;
        box-shadow: 0 0 1px 0;
    }

    .footer-content {
        overflow: hidden;
        display: flex;
        width: 100%;
        padding: 0 7px 15px 7px;
        font-family: inter, serif;
    }

    .footer-content a {
        float: left;
        padding: 7px;
        margin: 5px 5px 5px 0;
        width: 150px;
        border-radius: 25px;
        text-decoration: none;
        box-shadow: 0 0 1px 0;
        transition: 0.2s;
    }

    .footer-content a:hover {
        background: #9cbdd9;
        cursor: pointer;
        text-decoration: underline;
    }

    .wakaStats {
        display: none;
    }
}