html, body {
    margin: 0;
    height: auto;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    padding: 5px;
    background: #35376e;
    border-radius: 0 0 7px 7px;
}

.navbar-contents {
    display: flex;
    margin:auto;
    width: 100%;
    padding: 0 20px 0 20px;
    max-width: 1240px;
}

.logo {
    padding: 7px;
    width: fit-content;
    border-radius: 5px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-family: "Zilla Slab", serif;
    font-size: 25px;
}

.logo:hover {
    text-decoration: underline;
    background: #4b4d8a;
}

.tabs {
    margin-left: auto;
    padding: 7px;
    width: fit-content;
}

.tabs a {
    padding: 7px;
    color: white;
    text-decoration: none;
    font-family: "Zilla Slab", serif;
    font-size: 20px;
    border-radius: 5px;
}

.tabs a:hover {
    text-decoration: underline;
    background: #4b4d8a;
}

.main {
    flex: 1;
    margin: 50px auto auto;
    width: 90%;
    max-width: 1140px;
    height: 100%;
    padding: 20px;

}

.main-contents {
    display: grid;
    padding: 50px;
    border-radius: 7px 7px 0 0;
    font-family: inter, serif;
    background-color: #eeeeee;
}

.proj-list p {
    margin-left: 25px;
}

.proj-container {
    margin-top: 25px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 1px 0;
}

.proj-container a {
    margin: 10px;
    padding: 7px;
    border-radius: 25px;
    box-shadow: 0 0 1px 0;
    text-decoration: none;
}

.proj-container a:hover {
    background: #9cbdd9;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    display: flex;
    position: sticky;
    height: 200px;
    bottom: 0;
    box-shadow: 0 0 1px 0;
}

.footer-content {
    display: flex;
    margin:auto;
    width: 100%;
    padding: 0 20px 0 20px;
    max-width: 650px;
    font-family: inter, serif;
}

.footer-content a {
    padding: 7px;
    border-radius: 25px;
    text-decoration: none;
}

.footer-content a:hover {
    background: #9cbdd9;
    cursor: pointer;
    text-decoration: underline;
}